.jumbotron{
	margin-bottom: 0px;
    background-image: url('../img/water.jpg');
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    font-family: arial;
}


.btn-warning{
	background-color: rgb(58, 134, 199);
	border-color: rgb(58, 134, 199);
}

.btn-warning:hover{
  box-shadow: none;
  background-color: #CECDC2;
  border: none;
}

img {
	max-width: 100%;
    height: auto;
    width: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

img:hover{
	opacity: 0.5;
}

h2 {
	color: orange;
	font-weight: 100 !important;
}

.blue-bg{
	max-width: 100%
	height: auto;
	width: auto;
	background-color: rgb(58, 134, 199);
	border-radius: 10px;
}

.white-txt{
	color: white;
	font-family: arial;
}

.go-right{
	padding: 5px;
}

.bgr{
	background-image: url('../img/water.jpg');
}

.container{
	background-color: white;
	}

.row{
	padding-top: 15px;
	padding-bottom: 15px;
}